/RotateWheel/Library
/RotateWheel/obj
/RotateWheel/Temp
Release/apk/_official/v1.0.4/minegrab-1.0-v4.symbols.zip
Release/apk/_official/v1.0.5/minegrab-1.0-v5.symbols.zip
Release/apk/_official/v1.1.0/coronavirus-1.1.0-v5.symbols.zip
